.square {
  background-color: #c71585;
  width: 60px;
  height: 60px;
  float: left;
}
.squaresix {
  background-color: #426545;
  width: 15px;
  height: 15px;
  float: left;
}
.squared {
  background-color: pink;
  width: 60px;
  height: 60px;
  float: left;
}

.squaredsix {
  background-color: #19b268;
  width: 15px;
  height: 15px; 
  float: left;
}

.grid {
  width: 960px;
  height: 960px;
  border: 1px;
  border-style: solid;
  border-color: #000000;
}
h1{
  font-family: Arial, sans-serif;
  font-color: #000000;
  text-align: center;
}
.button {

}

.container{
  width: 960px;
}
